{% extends "base.html" %}

{% load static %}

{% block title_block %}
    All My Posts
{% endblock  %}

{% block css_file_block %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" />
{% endblock %}

{% block body_block %}

    <section id="all-posts">
        <h2>My Collected Posts</h2>

        <ul>
            {% for item in  all_posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}