{% extends "base.html" %}
{% load static %}

{% block title_block %}
    My Blog
{% endblock  %}

{% block css_file_block %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block body_block %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="Max - The author of this blog" />
            <h2>MAX's BLOG</h2>
        </header>
        <p>Hi, I'm Max and I love to blog about anything realy</p>
    </section>

    <section id="latest-posts">
        <h2>The latest post</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>Trata tata tatata trata tata tatata</p>
        <p>Trata tata tatata trata tata tatata Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata</p>
    </section>
{% endblock  %}