{% extends "base.html" %}
{% load static %}

{% block title_block %}
    My Blog
{% endblock  %}

{% block css_file_block %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %}

{% block body_block %}
    <header id="main-navigation">
        <h1>
            <a href="">My Blog</a>
        </h1>
        <nav>
            <a href="">All blogs</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/max.png" %}" alt="Max - The author of this blog" />
            <h2>MAX's BLOG</h2>
        </header>
        <p>Hi, I'm Max and I love to blog about anything realy</p>
    </section>

    <section id="latest-posts">
        <h2>The latest post</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "blog/images/mountains.jpg" %}" alt="Montain Hiking" />
                    </a>
                    <div class="post__content">
                        <h3>Montain Hiking</h3>
                        <p>There is nothing like the views you get hiking on the montains</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>Trata tata tatata trata tata tatata</p>
        <p>Trata tata tatata trata tata tatata Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata. Trata tata tatata trata tata tatata</p>
    </section>
{% endblock  %}